<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table class="table table-active">
        <tr>
            <th>name</th>
            <th>Address</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.name}"></td></br>
            <td th:text="${user.address}"></td></br>
        </tr>
    </table>
</div>
</body>
</html>